main {
    display: flex;
    padding: 3rem;
    gap: 3rem;
  }
  .textContainer {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .textContainer a{
  text-decoration: none;
  }
  .Track-crypto-heading{
    font-size: 9.5rem;
    margin: 0;
  }
  .Real-Time-heading {
    font-size: 6rem;
    margin: 0;
  }
  .Track-crypto-heading {
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  .Track-crypto-heading:hover {
    color: white;
    -webkit-text-stroke-color: black;
    transition: all 0.3s;
  }
  .Real-Time-heading {
    color: rgb(14, 116, 219);
  }
  .buttonContainer {
    display: flex;
    gap: 1rem;
  }

  .imageContainer {
    flex: 0.25;
    position: relative;
  }
  .phone {
    position: absolute;
    z-index: 10;
    min-width: 280px;
    max-width: 300px;
  }
  .gradient {
    position: absolute;
    top: 3rem;
    left: 2rem;
    min-width: 200px;
    max-width: 260px;
  }
  @media only screen and (max-width: 768px) {
    main {
      flex-direction: column;
      padding: 1rem;
      gap: 5rem;
    }
    .textContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
      flex: 1;
      gap: 1.5rem;
    }
    .textContainer > h1 {
      font-size: 3.5rem;
    }
  
    .imageContainer {
      flex: 1;
      display: block;
    }
    .phone {
      min-width: 280px;
      max-width: 300px;
      left: 20%;
    }
    .gradient {
      left: 25%;
      min-width: 200px;
      max-width: 250px;
    }
  }
  