.formContainer,.form,.LoginPage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer{
    width: 100vw;
    height: 90vh;
}
.LoginPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: fit-content;
    gap: 0.5rem;
    border: 1px solid rgb(235, 235, 235);
    border-top: 5px solid dodgerblue;
    border-radius: 1rem;
}


  