.editable_list_container {
  display: flex;
  flex-direction: column;
  height: 220px;
  border-radius: 0.4rem;
  border: 1px solid grey;
  overflow: hidden;
}
.editable_list_header{
  text-align:center;
  text-transform:capitalize;
  opacity:0.7;
  padding: 0.3rem 0px;
  
}
.editable_list {
  width: 100%;
  flex: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: flex;
  overflow-y: scroll;
}

.addNew {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 0.3rem;
}

.addNew > input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.editable_list > ol {
  padding: 0.2rem;
  width: 100%;
}

.editable_list > ol > input {
  width: 100%;
  border: none;
  outline: none;
}

ol {
  list-style: none;
  counter-reset: num;
}

ol li {
  counter-increment: num;
}

ol li::before {
  content: counter(num) ". ";
}
