.Swot {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  padding: 1rem 0rem;
}

.SwotComponent {
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  grid-template-rows: 40px 1fr 1fr;
  grid-gap: 0.3rem;
  width: 95%;
  height: 90%;
}
.labelTiles {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 75%;
  border-radius: 0.3rem;
}
.SwotHeader {
  text-align: center;
  padding: 0.2rem 0px;
  border-radius: 0.3rem;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  rotate: -90deg;
  height: 40px;
  width: max-content;
}
.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.SaveButton{
  display: flex;
  justify-content: right;
  align-items: center;
  width: 95%;
}
