.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  flex: 0.15;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
  box-shadow: 5px 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0px;
  padding: 0.5rem;
}
.navSidebar{
  width: 100%;
}
