.ProductResearchView {
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  width: 100%;
  overflow-y: scroll;
  height: 100%;
}
