* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: rgb(255, 165, 0);
  --secondary: rgb(251, 214, 6);
  --background: rgb(255, 255, 255);
  --text: rgb(42, 42, 42);
  --textSecondary: rgb(107, 107, 107);
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
::-webkit-scrollbar {
  display: none;
}
.light {
  --primary: rgb(255, 165, 0);
  --secondary: rgb(244, 239, 211);
  --background: rgb(255, 255, 255);
  --text: rgb(42, 42, 42);
  --textSecondary: rgb(107, 107, 107);
}

.dark {
  --primary: rgb(255, 165, 0);
  --secondary: rgb(244, 239, 211);
  --background: rgb(42, 42, 42);
  --text: rgb(255, 255, 255);
  --textSecondary: rgb(194, 194, 194);
}
